
  @import url('https://fonts.googleapis.com/css2?family=Song+Myung&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Song Myung', serif;
    text-align: center;
}

.Nav-bar{
    border-top: 2px dashed #ED8936;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.home-page {
    margin-top: 10px;
    padding: 10px;
    display: block;
    text-align: center;
}

.instructions {
    padding: 10px;
    margin-bottom: 5px;
}

.introduction {
    padding: 10px;
    margin-top:10px;
}

.github-icon{
    margin: 15px;
    display: inline-block;
    text-align: center;
}

.topic-container {
    display: inline-flexbox;
    text-align: center;
    flex-direction: column;
}

.topic {
   display: inline-flex;
   flex-direction: column;
   justify-content: space-evenly;
   font-size: medium;
   padding: 15px;
   margin: 10px;
   transition: box-shadow 0.3s, border-top 0.3s;
}

.topic:hover {
    box-shadow: 6px 6px 1px  #ED8936;
    border-top: solid 3px #D6BCFA;
    transform: 0;
}

.user-box {
    display: inline-block;
text-align: center;
padding: 3px;
margin: 5px;

}

.profile-pic{
    display: block;
    margin: 0 auto;
    transition: box-shadow 0.3s, border-top 0.3s;
    margin-bottom: 7px;
    margin-top: 7px;
}
.profile-pic:hover {
    box-shadow: 5px 5px 3px  #D6BCFA;
   
}


.name {
    background-color: #FBD38D;
    border-radius: 30px;
    padding: 7px 5px
}
 
.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.article-card {
    display: inline-block;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
}

.likes {
    display: inline-block;
}

.article-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-left: dotted 3px #ED8936;
    border-right: dotted 3px #ED8936;
    margin: 30px;
    font-size: medium;
}

.article-body {
padding: 5px;
  margin: 15px;
}

.login-link:hover {
    text-decoration: double underline #ED64A6;
}

.comment-box {
    font-size: large
}

.comment-input:focus {
 border: 3px solid #B794F4!important;
}

.comment-button {
    margin-top: 10px;
    display: inline-block;
    padding: 6px;
 margin-bottom: 10px;
    outline: 1.5px solid #805AD5;
    border-radius: 5px;
    color: #44337A
}



.comment-button:hover {
    background-color:#FAF5FF ;
}

.comment-counts {
font-size: larger;
text-decoration: underline dotted 3px #ED8936;
}

.comment {
    width: 40vw;
    height: auto;
    display: inline-block;
    margin: 20px;
    padding: 10px;
}

.comment-container {
    display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: center;
margin: 30px;
}

.delete-box {
    display: flex;
justify-content: center;
padding: 0;
}

.like-buttons {
    border: solid 2px #FEB2B2;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    font-size: large;
}

.parent-filter {
    display: flex;
    justify-content: center;
    padding: 3px;
    margin-top: 5px;
    margin-left: 30%;
    margin-right: 30%
}

.sortby-selection {
    border: 1px solid #FBD38D;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 6px;
}

.filter-button {
    margin-left: 5px;
    background-color: #FFFAF0;
    color: #C05621;
    border: 1px solid;
    padding-left: 8px;
    padding-right: 8px;
    font-weight: bold;
    border-radius: 5px; 
}






