
  @import url('https://fonts.googleapis.com/css2?family=Song+Myung&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Song Myung', serif;
    text-align: center;
}

.Nav-bar{
    border-top: 2px dashed #ED8936;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.home-page {
    margin-top: 10px;
    padding: 10px;
    display: block;
    text-align: center;
}

.instructions {
    padding: 10px;
    margin-bottom: 5px;
}

.introduction {
    padding: 10px;
    margin-top:10px;
}

.github-icon{
    margin: 15px;
    display: inline-block;
    text-align: center;
}

.topic-container {
    display: inline-flexbox;
    text-align: center;
    flex-direction: column;
}

.topic {
   display: inline-flex;
   flex-direction: column;
   justify-content: space-evenly;
   font-size: medium;
   padding: 15px;
   margin: 10px;
   transition: box-shadow 0.3s, border-top 0.3s;
}

.topic:hover {
    box-shadow: 6px 6px 1px  #ED8936;
    border-top: solid 3px #D6BCFA;
    transform: 0;
}

.user-box {
    display: inline-block;
text-align: center;
padding: 3px;
margin: 5px;

}

.users-container {
    text-align: center;
}

.profile-pic{
    display: block;
    margin: 0 auto;
    transition: box-shadow 0.3s, border-top 0.3s;
    margin-bottom: 7px;
    margin-top: 7px;
}
.profile-pic:hover {
    box-shadow: 5px 5px 3px  #D6BCFA;
   
}

.single-user {
    text-align: center;

}

.name {
    background-color: #FBD38D;
    border-radius: 30px;
    padding: 7px 5px
}
 
.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.article-card {
    display: inline-block;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
}






